{% extends "layout.html" %}
{% block content %}
<form action="/dealers" method="post">
  <fieldset>
    <legend>Dealer Info</legend>
    <div class="row">
      <div class="span4">
        <label>Name</label>
    
          <input name="name"type="text" placeholder="Capitol Subaru Sj">
      </div>
      <div class="span4">
        <label>URL</label>
        <input class="input-large" name="url" type="text" placeholder="http://captiol...">
        </div
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <label>Address</label> <input class="input-large" name="addr" type="text" placeholder="5600 Capitol...">
      </div>
      <div class="span4">
        <label>Phone</label><input name="phone" type="text" placeholder="408-123-1234">
      </div>
    </div>
     <div class="row">
      <div class="span4">
      <button type="submit" class="btn">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}