<html>
  <head>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    </head>
  <body>
     <div class='navbar navbar-inverse'>
      <div class='navbar-inner' style="height: auto;">
        <ul class="nav">
          <li class="brand active"><a href="/">Subaru BRZ Scraper</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <table class="table table-striped table-bordered table-hover table-condensed" id="car_table">
        <tr>
          <!-- <th></th> -->
          <th><a href="/?sort=vin">VIN</a></th>
          <th><a href="/?sort=model">Model</a></th>
          <th><a href="/?sort=price">Price</a></th>
          <th><a href="/?sort=transmission">Tranny</a></th>
          <th><a href="/?sort=ex_color">Color</a></th>
          <th><a href="/?sort=dealer">Dealer</a></th>
          <th><a href="/?sort=last_date">Date</a></th>
        </tr>
      {% for car in cars %}
        <tr{% if 'White' in car.ex_color and  'Automatic' in car.transmission%} class="success" {% elif car.invalidate %} class="error"{% endif %}>
         <!--  <td><a href={{ car.dealer.key().name().replace('/new-inventory/index.htm?model=BRZ&', '') + car.link }}><img src={{ car.img_src }}></a></td> -->
          <td><a href={{ car.dealer.key().name().replace('/new-inventory/index.htm?model=BRZ&', '') + car.link }}>{{ car.vin }}</a></td>
          <td>{{ car.model }}</td>
          <td>{{ car.price }}</td>
          <td>{{ car.transmission }}</td>
          <td>{{ car.ex_color }}</td>
          <td>{{ car.dealer.key().name().replace('/new-inventory/index.htm?model=BRZ&', '') }}</td>
          <td>{{ car.last_date }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  </body>
</html>