{% extends "layout.html" %}
{% set hide_nav = "True" %}
{% block title %}
Subuaru World
{% endblock %}
{% block navlinks %}<p></p>
{% endblock %}
{% block content %}
<divclass="well"><p class="lead"> Welcome to my Boxer Rear-<a style="text-decoration: none; color:#333;" href="/users?save=true">Wheel</a>     Zenith Subaru List App. In an effort to aid me in finding this car on some dealers inventory I put together this web app that will check dealer inventory in California and highlight cars that met my criteria. 
<br />
<br />
    There is also a second reason for this sites existence, I wanted a fun project to teach me python. As you can see it kinda did.
<br />
<br />
    Cheers and if you agree not to abuse this site it is hosted on a non-paid App Engine and thus if too many people view it or play with it, we will exceed quota and the site will do down. I plan to release the app for worldly use once I have found the car I want. Go ahead and click the register link hidden in the word Wheel up above.
</p></div>
{% endblock %}